<script id="ep_profile_modal_user_list_script" type="text/html">
    <div class='ep_profile_modal_user_list' id='ep_profile_modal_user_list'>

        <div id="ep_profile_user_list_container" class="ep_profile_user_list_container" >
            <div class="ep_profile_user_list_date_title_header" id="ep_profile_user_list_date_title">
                <div class='ep_profile_header_of_contributors'> Contributors 
                </div>
                    <div id='ep_profile_modal_user_list_close' class="ep_prfile_close_icon"></div>

              

            </div>
            <div data-anonymouseCount="1" data-user-ids='${userId}' data-id="user_list_${(ep_profile_modal.userName=='Anonymous') ? 'on_Anonymous' : userId}" class='ep_profile_user_row'>
       
                <div class="ep_profile_user_img" style="background: url(/p/getUserProfileImage/${clientVars.userId}/${clientVars.padId}?t=${clientVars.serverTimestamp}) no-repeat 50% 50% ; background-size : 69px ; background-color : #485365" ></div>
        
                <div class="ep_profile_user_list_profile_userDesc">
        
                    <p class="ep_profile_user_list_username">
                        ${(ep_profile_modal.userName) ? ep_profile_modal.userName : "Anonymous" } 
                    </p>
                    <p class="ep_profile_user_list_profile_desc">
                        ${(ep_profile_modal.about) ? ep_profile_modal.about : "" } 

                    </p>
                    <p class="ep_profile_user_list_profile_homepage" >
                        <a target="_blank"  class='ep_profile_user_list_profile_homepage_link'  href="${ep_profile_modal.homepage} "> ${(ep_profile_modal.homepage !=="#") ? ep_profile_modal.homepage : "" } 
                        </a>
                    </p>
        
                </div>
            </div>
            

        </div>


        <div id="ep_profile_user_list_container_off" class="ep_profile_user_list_container_off" >

        </div>
    </div>
</script>