.ep_profile_modal{
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 350px;
    height: 285px;
    background-color: #fff;
    position: absolute;
    top: 114px;
    right: 2.3%;
    visibility: hidden;
        overflow: hidden;
    color: rgb(32, 33, 36);
    z-index: 500;
	transition: all .3s;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
	border: 1px solid #e6e8e9;
    font-size: 14px;
    transform: scale(.7);
    opacity: 0;
    transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
}
.ep_profile_modal-show {
    transform: scale(1) !important;
    opacity: 1 !important;
    visibility: visible !important;
}
.ep-profile-button{
    height: 35px;
    width: 43px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    margin-left: 1%;
}
#ep-profile-image{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
}

#ep-profile-image:hover{
    background-color: darkgray;
}
.ep_profile_modal_section_image{
    width : 100%;
    height: 30%;
    margin-top: 5%;
    text-align: center;
}


.ep_profile_modal_section_info{
    width : 100%;
    height: 33%;
    /* border-bottom: 1px solid #e8eaed; */
    display: inline-grid;
    margin: auto;
    margin-top: 7%;

}
.ep_profile_modal_section_image_big{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 5.5%;
    margin-right: auto;
    margin-top: 2%;
    /* display: block; */

}
.ep_profile_modal_section_image_big_ask{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 5.5%;
    margin-right: auto;
    margin-top : 2%
    /* display: block; */

}
.ep_profile_modal_section_info_name{
    display: block;
    text-align: center;
    color: #202124;
    font: 500 16px/22px Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .29px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}
.ep_profile_modal_section_info_email{
    color: #5f6368;
    font: 400 14px/19px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ep_profile_modal_section_info_input{
    display: block;
    margin: auto;
    margin-bottom: 2%;
    background-color: white !important;
    border: 1px solid #eee !important;
}
.ep_profile_modal_section_info_submit{
    display: block;
    margin: auto;
    margin-bottom: 2%;
    background-color: green !important;
    border: 1px solid #eee !important;
}
.ep_profile_modal_section_info_correct{
    width: 32px;
    height: 32px;
    /* border: 1.2px green solid; */

}
.ep_profile_modal_section_info_modal{
    margin-top: 6%;
}
.ep_profile_modal_input_box {
    display: inline-flex;
    margin: auto;
    margin-bottom: 3%;
}
.ep_profile_modal_section_info_correct_style{
    /* border: 1px green solid; */
    padding: 0.4%;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
.ep_profile_modal_section_info_correct:hover{
    border: 0px;

}
.userlist{
/*    width : 16px;
    height: 16px;*/
/*    display: inline-grid;
*/    margin: auto;
    display: contents;
    cursor: pointer;
}
.userlist_img{
width: 16px;
    height: 16px;
    display: inline-grid;
    margin: auto;
    margin-left: .25%;
    margin-top: 13px;
}
.userlist_img hide{
    visibility: hidden;
}
.userlist_img show{
    visibility: visible;
}
.userlist_count{
    margin-right: 0.5%;
    font-weight: 900;
    font-size: 16pt;
    color: #2678ff;
    margin-top: 3px;
    display: contents;
}
#usersIconList{
    display: contents;
}
.slash_profile{
    margin-right: .5%;
    font-weight: 900;
    font-size: 16pt;
    color: #2678ff;
    /* margin-top: 3px; */
    margin-left: 0.5%;
}
.ep_profile_modal_submit{
    width : 160px;
    height : 32px;
    background-color: green;
    border : 0 ;
    color : #fff;
}
.ep_profile_modal_signout{
    width: 160px;
    height: 32px !important;
    border: 0;
    background-color: red;
    color: white;
    margin: auto;
    display: flow-root;
    height: 22px;
    margin-top: 17%; 
}
#ep_profile_modal_close_ask{
    color : "black" ;
    float: right;
    margin-right: 2%;
    font-size: 14pt;
    cursor: pointer;
}
#ep_profile_modal_close{
    color : "black" ;
    float: right;
    margin-right: 2%;
    font-size: 14pt;
    cursor: pointer;
}
.ep_profile_modal_validation_error {
    border-color: red !important;
}


.ep_profile_modal_user_list{
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    width: 261px;
    min-height: 160px;
    background-color: #fff;
    position: absolute;
    top: 6%;
    right: 2.3%;
    visibility: hidden;
        overflow: hidden;
    color: rgb(32, 33, 36);
    z-index: 500;
	transition: all .3s;
	border-radius: 0 0 6px 6px;
	box-shadow: 1px 1px 4px rgb(87, 98, 115, .1);
	border: 1px solid #e6e8e9;
    font-size: 14px;
    transform: scale(.7);
    opacity: 0;
    transition: all .3s cubic-bezier(.74,-.05,.27,1.75);
    padding-bottom: 2%;
}
#ep_profile_modal_user_list_close{
    color : "black" ;
    float: right;
    margin-right: 2%;
    font-size: 14pt;
    cursor: pointer;
}
.ep_profile_user_row{

    
    padding-left: 10%;
    padding-right: 10%;
    /* border-bottom: 1px solid lightgray; */
    height: 40px;
    padding-top: 2%;
}

.ep_profile_user_img{

    float: left;
    height: 32px;
    width: 32px;
    border-radius: 50%;

}
.ep_profile_user_username{
   
    float: left;
    padding-left: 5%;
    padding-top: 3%;
    font-weight: bold;
 
}
.ep_profile_user_list_container{
    padding-top: 6%;
}

.ep_profile_user_list_container_off{
    margin-top: 5%;
    padding-top: 4%;
    border-top: 1px solid lightgray;
    color: gray;

}