<script id="ep_profile_askmodal_script" type="text/html">

    <div class='ep_profile_modal' id='ep_profile_modal_ask'>
        <div id='ep_profile_modal_close_ask'>&times;</div>

        <p class="ep_profile_modal_section_image">
            <label class="lable_ep_profile_modal_section_image_big" for="profile_file">

                <img class='ep_profile_modal_section_image_big_ask'  src="/p/getUserProfileImage/${clientVars.userId}?t=${clientVars.serverTimestamp}" />
            </label>
            <form  method="post" action="" enctype="multipart/form-data" id="ep_profile_modal_form">
                <input accept="image/*" type="file" id="profile_file" class="ep_profile_modal_file" name="profile_file" /> 
            </form>
            
        </p>
        <div class="ep_profile_modal_section_info">
            <div class="ep_profile_modal_input_box">
                <input value="${(typeof userName !== 'undefined' && userName!='Anonymous') ?  userName : null }" type="text" id="ep_profile_modal_username" class="ep_profile_modal_section_info_input" placeholder = "Username">
                <!-- <div id="ep_profile_modal_username_listener" class="ep_profile_modal_section_info_correct_style">
                    <img class="ep_profile_modal_section_info_correct" src="../static/plugins/ep_profile_modal/static/img/check.png">
                </div> -->
            </div>
            <div class="ep_profile_modal_input_box">
                <input  value="${(typeof ep_profile_modal.user_email !== 'undefined') ?  ep_profile_modal.user_email : null }"  id="ep_profile_modal_email" type="text" class="ep_profile_modal_section_info_input" placeholder = "Email (Optional)"> 
                    <!-- <div id="ep_profile_modal_email_listener" class="ep_profile_modal_section_info_correct_style">
                    <img class="ep_profile_modal_section_info_correct" src="../static/plugins/ep_profile_modal/static/img/check.png">
                </div> -->
            </div>
            <div class="ep_profile_modal_input_box">
                <input  value="Submit"  id="ep_profile_modal_submit" type="button" class="ep_profile_modal_submit"> 

            </div>


        </div>

    </div>
</script>