<script id="ep_profile_askmodal_script" type="text/html">

    <div class='ep_profile_modal' id='ep_profile_modal'>
        <div class="ep_profile_modal_section_image">
            <img class='ep_profile_modal_section_image_big'  src="../static/plugins/ep_profile_modal/static/img/user.png" />
        </div>
        <div class="ep_profile_modal_section_info">
            <div><input type="text" class="ep_profile_modal_section_info_input" placeholder = "Username"> <img class="ep_profile_modal_section_info_correct" src="../static/plugins/ep_profile_modal/static/img/correct.png"></div>
            <input type="text" class="ep_profile_modal_section_info_input" placeholder = "Email"> <img class="ep_profile_modal_section_info_correct" src="../static/plugins/ep_profile_modal/static/img/correct.png">
            <input type="submit" class="ep_profile_modal_section_info_submit"  >

        </div>

    </div>
</script>