<script id="ep_profile_modal_script" type="text/html">
    <div class='ep_profile_modal' id='ep_profile_modal'>
        <div id='ep_profile_modal_close'>&times;</div>

        <p class="ep_profile_modal_section_image">
            <label class="lable_ep_profile_modal_section_image_big" for="profile_file">
                <img class='ep_profile_modal_section_image_big'  src="/p/getUserProfileImage/${clientVars.userId}" />

            </label>
            <form  method="post" action="" enctype="multipart/form-data" id="ep_profile_modal_form">
                <input accept="image/*" type="file" id="profile_file" class="ep_profile_modal_file" name="profile_file" /> 
            </form>
            

        </p>
        <div class="ep_profile_modal_section_info_modal">
            <p class="ep_profile_modal_section_info_name" id ="ep_profile_modal_section_info_name">
               ${(ep_profile_modal.userName) ?  ep_profile_modal.userName : ""}
            </p>
            <p class="ep_profile_modal_section_info_email" id ="ep_profile_modal_section_info_email">
                ${(ep_profile_modal.user_email) ? ep_profile_modal.user_email : "" }
             </p>
        </div>
        <input type="hidden" id="ep_profile_hidden_email" value="${ep_profile_modal.user_email}" />
        <input  value="Sign Out" id="ep_profile_modal_signout" type="button" class="ep_profile_modal_signout" /> 

        
    </div>
</script>