<script id="ep_profile_modal_user_list_script" type="text/html">
    <div class='ep_profile_modal_user_list' id='ep_profile_modal_user_list'>
        <div id='ep_profile_modal_user_list_close'>&times;</div>

        <div id="ep_profile_user_list_container" class="ep_profile_user_list_container" >
            <div class='ep_profile_user_row'>
                <img id="ep_profile_user_img" src="${ep_profile_modal.profile_image_url}" class="ep_profile_user_img">
                <div id="ep_profile_user_username" class="ep_profile_user_username"> ${(ep_profile_modal.userName) ? ep_profile_modal.userName : "" } </div>
            </div>

        </div>


        <div id="ep_profile_user_list_container_off" class="ep_profile_user_list_container_off" >

        </div>
    </div>
</script>