<script id="ep_profile_users_profile_script" type="text/html">
    <div class='ep_profile_users_profile' id='ep_profile_users_profile'>
        <div class='ep_profile_users_profile_close' id='ep_profile_users_profile_close'>&times;</div>

        <div class="ep_profile_users_profile_userImage" style="background: url(/p/getUserProfileImage/${userId}/${padId}?t=${randomNumber}) no-repeat 50% 50%" ></div>

        <div class="ep_profile_users_profile_userDesc">

            <p class="ep_profile_users_profile_email" id="ep_profile_users_profile_email">
                Samir Sayyad
            </p>
            <p class="ep_profile_users_profile_desc" id="ep_profile_users_profile_desc">
                a developer
            </p>
            <p class="ep_profile_users_profile_homepage" >
                <a id="ep_profile_users_profile_homepage" href="https://google.com">google.com</a>
            </p>

        </div>
    </div>
</script>