<script id="ep_profile_users_profile_script" type="text/html">
    <div class='ep_profile_users_profile' id='ep_profile_users_profile'>
        <div id='ep_profile_users_profile_close'>&times;</div>

        <div class="ep_profile_users_profile_userImage" style="background: url(/p/getUserProfileImage/${userId}/${padId}?t=${randomNumber}) no-repeat 50% 50%" ></div>

        <div class="ep_profile_users_profile_userDesc">

            <span class="ep_profile_users_profile_email">
                <p>samir.saiad@gmail.com</p>
            </span>
            <span class="ep_profile_users_profile_desc">
                <p>samir.saiad@gmail.com</p>
            </span>
            <span class="ep_profile_users_profile_homepage">
                <p>samir.saiad@gmail.com</p>
            </span>

        </div>
    </div>
</script>