<script src='../../static/plugins/ep_profile_modal/static/js/profileForm/jquery-ui.min.js'></script>
<script id="ep_profile_formModal_script" type="text/html">
    <div class='ep_profile_formModal_overlay' id="ep_profile_formModal_overlay"></div> 
    <div class='ep_profile_formModal' id='ep_profile_formModal'>
        <!-- multistep form -->
        <form  method="post" action="" enctype="multipart/form-data"  id="ep_profile_formModal_msform">
            <!-- progressbar -->
            <!-- <ul id="progressbar">
            <li class="active">Account Setup</li>
            <li>Social Profiles</li>
            <li>Personal Details</li>
            </ul> -->
        <!-- fieldsets -->
        <fieldset>
            <h3 class="fs-subtitle">1/5</h3>
            <h2 class="fs-title">Name</h2>

            <h3 class="fs-subtitle">
                A pseudonym is fine,
                and you can change it later
            </h3>
            
            <input type="text" id="ep_profile_modalForm_name" required="required" name="ep_profile_modal_name" placeholder="Name" value="${(typeof clientVars.ep_profile_modal.userName !== 'undefined' && clientVars.ep_profile_modal.userName!='Anonymous') ?  clientVars.ep_profile_modal.userName : null }" />
            <input type="button" name="next" class="next action-button" value="Next" />

        </fieldset>
        <fieldset>
            <h3 class="fs-subtitle">2/5</h3>
            <h2 class="fs-title">Email</h2>

            <h3 class="fs-subtitle">
                Optional. We keep your email private,
                but it allows collaborators to contact you
            </h3>
            <input type="text" name="ep_profile_modalForm_email" placeholder="Email"  value="${(typeof clientVars.ep_profile_modal.user_email !== 'undefined') ?  clientVars.ep_profile_modal.user_email : null }"  />

            <input type="button" name="skip" class="skip skip-button" value="Skip" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h3 class="fs-subtitle">3/5</h3>
            <h2 class="fs-title">Picture</h2>

       
            <label class="lable_ep_profile_modal_section_image_big" for="profile_file">
                <div class='ep_profile_modal_section_image_big' style="background: url(/p/getUserProfileImage/${clientVars.userId}/${clientVars.padId}?t=${clientVars.serverTimestamp}) no-repeat 50% 50%"  ></div>

            </label>  
            <label class="lable_ep_profile_modalForm_button" for="profile_file">
                <div class="upload upload-button" >Upload</div>
            </label>

            <input accept="image/*" type="file" id="profile_file" class="ep_profile_modal_file" name="profile_file" /> 
            
            <input type="button" name="clear" data-padId="${clientVars.padId}"  data-userId="${clientVars.userId}" class="clear clear-button" value="Clear" />
            
            <input type="button" name="skip" class="skip skip-button" value="Skip" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h3 class="fs-subtitle">4/5</h3>
            <h2 class="fs-title">Homepage</h2>

            <h3 class="fs-subtitle">
                A website that's about you
                e.g. your twitter profile page
            </h3>
            <input type="text" name="ep_profile_modal_homepage" value="${(typeof clientVars.ep_profile_modal.homepage !== 'undefined') ?  clientVars.ep_profile_modal.homepage : null }" placeholder="" />

            <input type="button" name="skip" class="skip skip-button" value="Skip" />
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>
            <h3 class="fs-subtitle">5/5</h3>
            <h2 class="fs-title">A few words about yourself</h2>

            <h3 class="fs-subtitle">
                The reason you're on this doc
                e.g. job title, project, goal in life
            </h3>
            <textarea name="ep_profile_formModal_about_yourself" placeholder="">${(typeof clientVars.ep_profile_modal.about !== 'undefined') ?  clientVars.ep_profile_modal.about : "" }</textarea>

            <input type="button" name="skip" class="skip skip-button" value="Skip" />
            <input type="submit" name="submit"  data-padId="${clientVars.padId}"  data-userId="${clientVars.userId}"  class="submit action-button" value="Save" />
        </fieldset>
        </form>


    </div>
</script>